body {
  padding: 1em;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212 !important;
  color: white !important;
}

.favorites-btn {
  position: absolute !important;
  top: 8px !important;
  right: 8px !important;
  color: white !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 1;
  &:hover {
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
}

.opacity-05:hover {
  opacity: 0.5 !important;
}

.show-card {
  position: relative;
  transform: scale(1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease !important;
  z-index: 1 !important;
  &:hover {
    transform: scale(1.15);
    z-index: 10;
    box-shadow: 10;
    .show-card-box {
      opacity: 1;
    }
  }
}

.show-card-box {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.2));
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.5em;
}

.show-card-box-summary {
  font-size: 11px !important;
  margin-top: 8px !important;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.menu-bar-search-input {
  width: 50% !important;
}

.menu-bar-search-input input {
  color: white !important;
}

.menu-bar-search-input .MuiOutlinedInput-notchedOutline,
.menu-bar-search-input:hover .MuiOutlinedInput-notchedOutline,
.menu-bar-search-input.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.menu-bar-search-input input::placeholder,
.menu-bar-search-input .MuiSvgIcon-root {
  color: rgb(86, 84, 84);
  opacity: 1;
}
